<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница имеющихся напитков</title>
</head>
<body>
<button>
    <a th:href="@{/admin}">Вернуться в меню</a>
</button>
<br><br>
<button>
    <a th:href="@{/admin/drinks/new}">Добавить новый напиток</a>
</button>
<br> <br>
<table border="1">
    <thead>
    <tr>
        <th>Название</th>
        <th>Объем</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drink:${drinks}">
        <td th:text="${drink.name}"/>
        <td th:text="${drink.volume.volume}"/>
        <td th:text="${drink.price}"/>
        <td>
            <form th:action="@{/admin/drinks/{id}(id=${drink.id})}" th:method="get">
                <button type="submit" class="button">Обновить данные о напитке</button>
            </form>
        </td>
        <td>
            <form  th:action="@{/admin/drinks/{id}(id=${drink.id})}" th:method="delete">
                <button type="submit" class="button">Удалить напиток</button>
            </form>
        </td>
    </tbody>
</table>
</body>
</html>