<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
</head>
<body>
Вы вошли как <label th:text="${person.name} + ' ' + ${person.surname}">123</label>
<br>
Ваша роль: <label th:text="${person.getRole()}">123</label>
<br><br>
<button>
    <a th:href="@{/admin/upcoming-orders}">Журнал заказов</a>
</button>
<button>
    <a th:href="@{/admin/coffee-points}">Точки продажи кофе</a>
</button>
<button>
    <a th:href="@{/admin/drinks}">Ассортимент напитков</a>
</button>
<button>
    <a th:href="@{/admin/cakes}">Ассортимент десертов</a>
</button>
<button>
    <a th:href="@{/admin/history-orders}">История заказов</a>
</button>
<br><br>
<button>
    <a th:href="@{/logout}">Выйти из аккаунта</a>
</button>
</body>
</html>