<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица входящий заказов</title>
</head>
<body>
<button>
    <a th:href="@{/admin}">Вернуться в меню</a>
</button>
<table border="1">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Номер телефона</th>
        <th>Адрес кофейни</th>
        <th>Телефон точки</th>
        <th>Менеджер</th>
        <th>Напиток</th>
        <th>Закуска</th>
        <th>Сумма заказа</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="upcomingOrder:${upcomingOrders}">
        <td th:text="${upcomingOrder.person.name}"/>
        <td th:text="${upcomingOrder.person.surname}"/>
        <td th:text="${upcomingOrder.person.telephoneNumber}"/>
        <td th:text="${upcomingOrder.coffeePoint.address}"/>
        <td th:text="${upcomingOrder.coffeePoint.telephoneNumber}"/>
        <td th:text="${upcomingOrder.coffeePoint.getManagerName}"/>
        <td th:if="${upcomingOrder.drink} != null" th:text="${upcomingOrder.drink.name} + ' ' + ${upcomingOrder.drink.volume.volume} + ' мл'"/>
        <td th:if="${upcomingOrder.drink} == null" th:text="'Без напитка'"/>
        <td th:if="${upcomingOrder.cake} != null" th:text="${upcomingOrder.cake.name}"/>
        <td th:if="${upcomingOrder.cake} == null" th:text="'Без закуски'"/>
        <td th:text="${upcomingOrder.orderAmount}"/>
        <td th:text="${#temporals.format(upcomingOrder.date, 'dd.MM.yyyy HH:mm')}"/>
        <td>
            <form th:action="@{/admin/upcoming-orders/{id}(id=${upcomingOrder.id})}" th:method="PATCH">
                <button type="submit" class="button">Обслужено</button>
            </form>
        </td>
    </tbody>
</table>
</body>
</html>