<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Таблица заказов</title>
</head>
<body>
<button>
    <a th:href="@{/client-side}">Вернуться в меню</a>
</button>
<br>
Заказы пользователя <label th:text="${person.name} + ' ' + ${person.surname}">123</label>
<br><br>
Текущие заказы:
<br>
<table border="1">
    <thead>
    <tr>
        <th>Адрес кофейни</th>
        <th>Телефон точки</th>
        <th>Менеджер</th>
        <th>Напиток</th>
        <th>Закуска</th>
        <th>Сумма заказа</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="upcomingOrder:${upcomingOrders}">
        <td th:text="${upcomingOrder.coffeePoint.address}"/>
        <td th:text="${upcomingOrder.coffeePoint.telephoneNumber}"/>
        <td th:text="${upcomingOrder.coffeePoint.getManagerName}"/>
        <td th:if="${upcomingOrder.drink} != null" th:text="${upcomingOrder.drink.name} + ' ' + ${upcomingOrder.drink.volume.volume} + ' мл'"/>
        <td th:if="${upcomingOrder.drink} == null" th:text="'Без напитка'"/>
        <td th:if="${upcomingOrder.cake} != null" th:text="${upcomingOrder.cake.name}"/>
        <td th:if="${upcomingOrder.cake} == null" th:text="'Без закуски'"/>
        <td th:text="${upcomingOrder.orderAmount}"/>
        <td th:text="${#temporals.format(upcomingOrder.date, 'dd.MM.yyyy HH:mm')}"/>
    </tbody>
</table>
<br>
Архив старых заказов:
<br>
<table border="1">
    <thead>
    <tr>
        <th>Адрес кофейни</th>
        <th>Телефон точки</th>
        <th>Менеджер</th>
        <th>Напиток</th>
        <th>Закуска</th>
        <th>Сумма заказа</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="historyOrder:${historyOrders}">
        <td th:text="${historyOrder.coffeePoint.address}"/>
        <td th:text="${historyOrder.coffeePoint.telephoneNumber}"/>
        <td th:text="${historyOrder.coffeePoint.getManagerName}"/>
        <td th:if="${historyOrder.drink} != null" th:text="${historyOrder.drink.name} + ' ' + ${historyOrder.drink.volume.volume} + ' мл'"/>
        <td th:if="${historyOrder.drink} == null" th:text="'Без закуски'"/>
        <td th:if="${historyOrder.cake} != null" th:text="${historyOrder.cake.name}"/>
        <td th:if="${historyOrder.cake} == null" th:text="'Без закуски'"/>
        <td th:text="${historyOrder.orderAmount}"/>
        <td th:text="${#temporals.format(historyOrder.date, 'dd.MM.yyyy HH:mm')}"/>
    </tbody>
</table>
</body>
</html>